{
	"$schema": "http://json.schemastore.org/prettierrc",
	"overrides": [
		{ "files": ".*rc", "options": { "parser": "json" } },
		{ "files": ".nvmrc", "options": { "parser": "yaml" } }
	],
	"plugins": ["./lib/index.js", "prettier-plugin-packagejson"],
	"useTabs": true
}
